.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.app-main {
  flex: 1;

  display: flex;

}


.left-sidebar {
  display: flex;
  flex-direction: column;

  background: $brand-grey;

  width: 25vw;
  min-width: 20rem;
  max-width: 35rem;
}

.games-list {
  flex: 1;
}

.games-list__heading {
  margin: 0.5rem;
}
