.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.app-main {
  flex: 1;

  display: flex;

}


.left-sidebar {
  display: flex;
  flex-direction: column;

  background: $brand-grey;

  width: 25vw;
  min-width: 20rem;
  max-width: 35rem;
}

.games-list {
  flex: 1;
  text-align: justify;
}

.games-list__heading {
  display: flex;
}

.games-list__link {
  flex: 1;
  margin: 0.5rem;
  color: inherit;
  text-decoration: none;

  &.active {
    color: $brand-pop;
  }
}

.game-list__remove {
  background: none;
  color: $brand-secondary;
  outline: none;
  border: 0;
  opacity: 0.4;
  width: auto;

  &:hover {
    opacity: 1;
  }

}
