$brand-black: #131212;
$brand-white: #eee;
$brand-grey: #5e5959;
$brand-primary: #dac014;
$brand-secondary: #0e8487;
$brand-pop: #c2304b;

@import 'base';
@import 'navbar';
@import 'sidebar';
@import 'footer';
@import 'footer-form';


.detail {
  padding: 1rem;

}
