<h2>There are {{model.scores.length}} scores for {{model.game.attributes.name}} </h2>
<ol class="game-scores">
  {{#each model.scores as |score|}}
    <li class="game-scores__item">
      <span class="game-scores__username">{{score.attributes.username}}</span>
      <span class="game-scores__socre">{{score.attributes.score}}</span>
    </li>
  {{/each}}
</ol>
