<div class="app">
  <nav class="top-nav">
    <ul class="top-nav__list">
      <li class="top-nav__brand">
        <h1 class="brand">Game Scores</h1>
      </li>
    </ul>
  </nav>
  <div class="app-main">
    {{outlet}}
  </div>
</div>
