<div class="left-sidebar">
  <ul class="games-list">
    {{#each model as |game|}}
    <li>
      <h2 class="game-list__heading">{{game.attributes.name}}</h2>
    </li>
    {{/each}}
  </ul>
  <footer class="footer-bar">
    <button class="footer-bar__button">Add Game</button>
    <form onsubmit={{route-action 'saveNewGame' newGameName}} class="footer-form">
      <label  class="footer-form__label">Name</label>
      {{input type="text" class="footer-form__input" placeholder="Name" value=newGameName}}
      <button class="footer-bar__button footer-bar__button-save">Save</button>
    </form>
  </footer>
</div>
<div class="detail">
</div>
