<div class="left-sidebar">
  <ul class="games-list">
    {{#each model as |game|}}
    <li>
      <h2 class="game-list__heading">
        {{#link-to 'games.scores' game.id class='games-list__link'}}
        {{game.name}}
        {{/link-to}}
      </h2>

    </li>
    {{/each}}
  </ul>
  {{#footer-bar as |toggleForm|}}
    <form onsubmit={{route-action 'saveNewGame' newGameName toggleForm}} class="footer-form">
      <label  class="footer-form__label">Name</label>
      {{input type="text" class="footer-form__input" placeholder="Name" value=newGameName}}
      <button class="footer-bar__button footer-bar__button-save">Save</button>
    </form>
  {{/footer-bar}}
</div>
<div class="detail">
  {{outlet}}
</div>
