<div class="app">
  <nav class="top-nav">
    <ul class="top-nav__list">
      <li class="top-nav__brand">
        <h1 class="brand">Game Scores</h1>
      </li>
    </ul>
  </nav>
  <div class="app-main">
    <div class="left-sidebar">
      <ul class="games-list">
        <li>
          <h2 class="game-list__heading">Donkey Kong</h2>
        </li>
        <li>
          <h2 class="game-list__heading">Donkey Kong</h2>
        </li>
        <li>
          <h2 class="game-list__heading">Donkey Kong</h2>
        </li>
      </ul>
      <footer class="footer-bar">
        <button class="footer-bar__button">Add Game</button>
      </footer>
    </div>
    <div class="detail">
      <h2>Choose A Game</h2>
    </div>
  </div>
</div>
